<!DOCTYPE html>
<html lang="en" ng-app="campus360">

<head>
    <meta charset="UTF-8">
    <title>Student Management App</title>

    <script src="node_modules/angular/angular.js"></script>
    <script src="js/app.js"></script>

    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="dashboardcontroller">

    <!-- COLLEGE DATA -->
    <h2>College Dashboard</h2>

    <label>College Name</label><br>
    <input type="text" ng-model="collegename">
    <h1>{{collegename}}</h1>

    <br><br>

    <!-- TOTAL STUDENT DATA -->
    <label>Total Students</label><br>
    <input type="number" ng-model="totalStudents">

    <h4 ng-class="{'green': totalStudents > 1000, 'red': totalStudents <= 1000}">
        Total Students: {{totalStudents}}
    </h4>

    <button ng-click="addstudent()">
        Add Student
    </button>

    <br><br>


    <!-- TOTAL FACULTY DATA -->
    <label>Total Faculty</label><br>
    <input type="number" ng-model="totalFaculty">

    <h4 class="blueviolet">
        Total Faculty: {{totalFaculty}}
    </h4>

    <button ng-click="addfaculty()">
        Add Faculty
    </button>

    <br><br>


    <!-- STUDENT LISTING -->
    <h2>Student List</h2>

    <button ng-click="showstudents = !showstudents">
        Show / Hide Students
    </button>

    <ul ng-show="showstudents">
        <li ng-repeat="student in students">
            {{student}}
        </li>
    </ul>


    <!-- FILTERATION -->
    <h2>Filter Demo</h2>

    <p>Uppercase : {{collegename | uppercase}}</p>
    <p>Lowercase : {{collegename | lowercase}}</p>
    <p>Currency : {{fees}}</p>
    <p>Date : {{today | date: 'dd/mm/yyyy'}}</p>
    <p>Number : {{fees | number:2}}</p>

    <br>


    <!-- DEPARTMENT SELECTION -->
    <h2>Selected Department</h2>
    <label for="">Select Department</label>
    <br><br>

    <select ng-model="selectedDepartments" ng-options="department for department in departments" name="" id=""></select>

    <!-- dependency injection -->
    <p>Selected Department: {{selectedDepartments}}</p>


    <!-- DEPARTMENT INFORMATION -->
    <h2>Department Info</h2>

    <div ng-switch="selectedDepartments">
        <div ng-switch-when="MCA">
            <h5>Computer Application</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus hic deserunt odit voluptatibus!
                Impedit cupiditate id iste, ratione itaque adipisci dolor atque est temporibus qui enim exercitationem
                nam doloribus amet.</p>
        </div>

        <div ng-switch-when="IMCA">
            <h5>Computer Application</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus hic deserunt odit voluptatibus!
                Impedit cupiditate id iste, ratione itaque adipisci dolor atque est temporibus qui enim exercitationem
                nam doloribus amet.</p>
        </div>

        <div ng-switch-when="CSD">
            <h5>Computer Engineering</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus hic deserunt odit voluptatibus!
                Impedit cupiditate id iste, ratione itaque adipisci dolor atque est temporibus qui enim exercitationem
                nam doloribus amet.</p>
        </div>

        <div ng-switch-when="BBA">
            <h5>Business</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus hic deserunt odit voluptatibus!
                Impedit cupiditate id iste, ratione itaque adipisci dolor atque est temporibus qui enim exercitationem
                nam doloribus amet.</p>
        </div>

        <div ng-switch-when="BSC">
            <h5>Computer Science Engineering</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus hic deserunt odit voluptatibus!
                Impedit cupiditate id iste, ratione itaque adipisci dolor atque est temporibus qui enim exercitationem
                nam doloribus amet.</p>
        </div>

        <div ng-switch-default>
            <h5>Please select a department</h5>
        </div>
    </div>

    <h2>ng-init Demo</h2>
    <div ng-init="collegecode = 'fisat123'; location= 'angamaly' ">
        <p>CollegeCode : {{collegecode}}</p>
        <p>Location : {{location}}</p>
    </div>

</body>

</html>